@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Fira Mono', monospace;
}

header{
    position: sticky;
    top: 0;
    width: 100%;
}

.navbar{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 10px;
    font-size: 23px;
    color: yellow;
}

.part1_navbar{
    color: aliceblue;
    margin-left: 40px;
    font-size: 30px;
}

.part1_navbar>p{
    padding: 7px;
    border-radius: 5px;
    font-family: 'Ms Madi', cursive;
    transition: transform 2s;
}

.part1_navbar>p:hover{
    background-color: #FFFFFF44;
    cursor: pointer;
    color: yellow;
    transform: scale(1.2);
}

.Part2_navbar{
    display: flex;
}

.nav_item{
    color: inherit;
    text-decoration: none;
}


.Part2_navbar>p{
    margin-right: 40px;
    padding: 7px;
    border-radius: 5px;
}

.Part2_navbar>p:hover{
    background-color: #FFFFFF44;
    cursor: pointer;
    color: bisque;
    transform: scale(1.1);
}

#resume{
    border: 2px solid rgb(0, 0, 255);
    color: rgb(0, 0, 255);
    border-radius: 10px;
}

#resume:hover{
    background-color: black;
    color: white;
    transform: scale(1.1);
}

/* navbar done */
/* /////////////////////////////////////////////////////////////////////////////////// */


.container{
    border: 1px solid white;
    /* background-color: #d1dae8; */
    background-color: #d3e1f5;
    height: 670px;
}

.myBox{
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 90px;
    height: 400px;
    width: 30%;
    text-align: center;
}

.myBox>p{
    color: blue;
    /* margin-top: 180px; */
    margin-bottom: 5px;
    font-size: 18px;
}

hr{
    /* width: 35vw; */
    height: 2px;
    background-color: blue;
    border: none;
    margin: 15px 0 20px 0;
    /* animation: fadeInAnimation 3s ease; */
}

.myBox>h1{
    font-size: 40px;
}

.img1{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.purpleArrows {
    position: absolute;
    bottom: 15%;
    right: 50%;
    left: 50%;
    transform: translateX(-50%);
    animation: moveDownAnimation 3s ease;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    /* animation-name: moveDownAnimation;
    transition: all .25s cubic-bezier(.25,.46,.45,.94) 0s;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-delay: 0s; 
    transition: transform 2s;  */
}


@keyframes moveDownAnimation {
    0% {
        margin-bottom: 100vh;
    }
    
    100% {
        margin-bottom: 0;
    }
}

/* section1 done */
/* /////////////////////////////////////////////////////////////////////////////////// */

#About{
    border: 1px solid black;
    background-color: black;
    color: white;
    height: 700px;
}

.about{
    /* border: 1px solid red;*/
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
    margin: auto;
    width: 80%;
    height: 400px;
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
}

.about_text{
    /* border: 1px solid teal; */
    width: 55%;
    height: 400px;
} 

.about_text>h1{
    text-decoration: underline;
    color: #5240fe;
    font-size: 60px;
    margin-bottom: 20px;
} 

.about_text>p{
   font-size: 18px;
   color: rgb(197, 162, 162);
}

.myImage{
    /* border: 1px solid green; */
    width: 40%;
    height: 400px;
}  

.Brand_logo{
    border-radius: 50%;
    border: 5px solid rgb(208, 4, 4);
    box-shadow: red 0 20px 30px -10px;
    margin-left: 60px;
}

/* About section done */
/* ///////////////////////////////////////////////////////////////////////// */

.skills{
    border: 1px solid whitesmoke;
    height: 800px;
    background-color: #d3e1f5;
}

.skills>div{
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 80px;
    width: 80%;
}

.skills>div>h1{
    color: #5240fe;
    text-decoration: underline;
    font-size: 60px;
    margin-bottom: 50px;
}

.skills_grid{
    /* border: 1px solid red; */
    margin-top: 20px;
    width: 70%;
    margin: auto;
    display: grid;
    row-gap: 60px;
    column-gap: 125px;
    grid-template-columns: repeat(3,200px);
    grid-template-rows: repeat(2,180px);
}

.skills_grid>div{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    border-radius: 10px;
    transition: transform .5s;
}

.skills_grid>div:hover{
    transform: scale(1.2);
}

.skill_img{
    display: block;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

/* Skills Section Done */
/* ///////////////////////////////////////////////////////////////////////// */

.project{
    border: 1px solid black;
    /* height: 600px; */
    background-color: rgb(28, 27, 27);
    color: whitesmoke;
}

.project>div{
    /* border: 1px solid red; */
    /* box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px; */
    margin: auto;
    margin-top: 50px;
    width: 80%;
    /* height: 450px; */
}

.project>div>h1{
    color: #5240fe;
    font-size: 60px;
    text-decoration: underline;
}

.project>div>div{
    /* box-shadow: #5240fe 0px 0px 0px 3px; */
    /* border-radius: 15px; */
    margin: auto;
    margin-top: 50px;
    width: 85%;
    height: 80%;
    display: flex;
    justify-content: space-between;
}


.project>div>div>div:first-child{
    width: 55%;
    /* border: 1px solid red; */
}

.project>div>div>div:last-child{
    width: 43%;
}

.project>div>div>div:last-child>h1{
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: underline;
}

.tech_stack{
    margin-top: 10px;
}

.tech_stack+ul>li{
    margin-left: 17px;
    margin-top: 7px;
}

.best_buy_image{
    border-radius: 15px;
    transition: transform 1s;
}

.best_buy_image:hover{
    transform: scale(0.9);
}

.fontawesome{
    font-size: 28px;
    margin-top: 15px;
    margin-left: 5px;
    transition: transform 1s;
}

.fontawesome:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.fa-chrome{
    margin-left: 8px;
}

.project_link>a{
    color: inherit;
}

#project2{
    margin-top: 100px;
    margin-bottom: 20px;
}

/* Projects Section Done */
/* ///////////////////////////////////////////////////////////////////////// */

#Contact{
    border: 1px solid wheat;
    background-color: #d3e1f5;
    /* height: 600px; */
}

.contact{
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 100px;
    /* height: 80%; */
    width: 80%;
    
}

.contact>h1{
    color: #5240fe;
    font-size: 60px;
    text-decoration: underline;
}

.contact>p{
    font-size: 18px;
    margin-top: 8px;
}

.email{
    display: flex;
    margin-top: 15px;
}

.email>a>p{
    font-size: 30px;
    margin-left: 10px;
}

.email>img{
    color:#5240fe;
    transition: transform 1s;
}

.linkedin{
    display: flex;
    margin-top: 10px;
    margin-bottom: 80px;
}

.linkedin>a>p{
    font-size: 30px;
    margin-left: 35px;
}

.linkedin>img{
    margin-left: 15px;
    transition: transform 1s;
}

.linkedin>img:hover{
    transform: scale(1.2);
}

.email>img:hover{
    transform: scale(1.2);
}

.linkedin>a,.email>a{
    color: rgb(42, 40, 40);
    text-decoration: none;
}

/* Contact Section Done */
/* ///////////////////////////////////////////////////////////////////////// */

footer{
    border: 1px solid black;
    background-color: black;
    /* height: 500px; */
}

.social_media_icons{
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.left_hr{
    margin-right: 20px;
}

.right_hr{
    margin-left: 20px;
}

.hr{
    width: 35vw;
    height: 2px;
    background-color: #5240fe;
    border: none;
    margin: 20px auto;
}

.linkedin2{
    margin-right: 20px;
    transition: transform 1s;
}

.github2{
    margin-left: 20px;
    transition: transform 1s;
}

.linkedin2:hover,.github2:hover{
    transform: scale(1.2);
}

footer>p{
    color: wheat;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}